<ion-content>
  <div >
    <ion-toolbar class="ion-padding" color="primary">
      <ion-buttons>
        <ion-icon name="arrow-back" size="large" (click)="back()" ></ion-icon>
        <ion-title class="ion-text-center" >Good {{greeting}}, &nbsp;<span style="text-transform: capitalize;font-weight: bolder;"> {{name}} </span></ion-title>
      </ion-buttons>
    </ion-toolbar>
    <div class="ion-padding budget">
      Your Budget for this list is Kshs <span >{{budget}}.</span> &nbsp;&nbsp;<ion-label (click)="back()" class="chBtn">&nbsp;Change&nbsp;</ion-label> <br><br>
      Your Current location is <span>here</span><br><br>
      We recommend the following places to shop from.
    </div>
    <div>
      <ion-searchbar placeholder="Enter a different location"></ion-searchbar>
    </div>
    <div>
      <div class="featured-products">
        <div class="featured-products-title">
            <div class="featured-products-title-left">Shops Near you</div>
            <div class="featured-products-title-right" (click)="viewAll()">
                View all
                <ion-icon src="/assets/images/arrow-right.svg"></ion-icon>
            </div>
        </div><br>
      </div>
      <ion-grid padding>
        <ion-row>
          <ion-col size="6" *ngFor="let shop of shops | slice:0:4" (click)="selectShop(shop)">

            <div class="partion">
              <img src="{{shop.logo}}" class="shop-img">
              <h5 class="shops-title" style="text-transform: uppercase">{{shop.shop}} </h5>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div>
      <div class="featured-products">
        <div class="featured-products-title">
            <div class="featured-products-title-left">Recommended Products</div>
            <div class="featured-products-title-right" >
                View all
                <ion-icon src="/assets/images/arrow-right.svg"></ion-icon>
            </div>
        </div><br>
      </div>
    <ion-slides pager="false" [options]="slideme">
        <ion-slide  *ngFor="let item of discontedProducts " (click)="gotoDiscountModal(item)">
            <ion-card  style="width: 400px;height: 280px;">
                    <div>
                        <div *ngIf="item.stock == 0" class="soldTag">
                            <ion-label color="danger">OUT OF STOCK</ion-label>
                        </div>
                        <ion-button expand="full"
                            style="height: 25px; width: 40px; position: absolute; top: 5px; right: 0px;border-radius: 10px 0px 0px 10px;">
                            <div style="font-size: 11px;">-20%</div>
                        </ion-button>
                    </div>
            <img  style="height: 150px;" src="{{item.image}}">
            <ion-card-content >
                <ion-label class="pr-name">{{item.product}}</ion-label><br>
                <ion-label class="pr-price">{{item.shop}}</ion-label><br>
                
            </ion-card-content>
            <div class="prTag">
                <ion-label id="lb" >K E S {{item.currentprice}}
                </ion-label>
            </div>
            <br>
            <ion-label style="height: 30px;"></ion-label>
        </ion-card>
        </ion-slide>
    </ion-slides>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-button expand="full" shape="round" (click)="goToShop()">choose shop myself</ion-button>
</ion-footer>