  <ion-toolbar color="primary" class="ion-padding">
    <ion-buttons>
      <ion-icon name="arrow-back" style="color: white;" (click)="back()"></ion-icon>
      <ion-title style="color: white;">Select region to send Donations</ion-title>
    </ion-buttons>
   
  </ion-toolbar>
<ion-content >
  <ion-grid  padding >
    <ion-row>
    <ion-col size="6" *ngFor="let item of regions" (click)="selectPackage(item)">
        <div class="body">
          <ion-label >Kibera</ion-label>
        </div>
    </ion-col>
    </ion-row>
</ion-grid>
  
 

</ion-content>
