<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons style="margin-left: 10px; margin-right: 10px;">
            <ion-icon style="width: 20px; height: 20px;" name="arrow-back" (click)="back()"></ion-icon>
            <ion-title text-center>Select region to send Donations</ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>



<ion-content>
    <ion-grid style="margin-top: 10px;">
        <ion-row no-padding>
            <ion-col size="6" *ngFor="let item of regions" (click)="selectPackage(item)" >
                <div class="body" [ngStyle]="{'background-image':'url(' + item.image + ')'}">
                <ion-label id="label">{{item.name}}</ion-label>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
  
 

</ion-content>
