<ion-content color="light">
  <ion-toolbar color="light" padding>
    <ion-buttons>
      <ion-icon slot="start" (click)="back()" name="arrow-back"></ion-icon>
      <!-- <ion-icon slot="start" name="arrow-back" (click)="back()"></ion-icon> -->
      <ion-title text-center *ngIf="!search">Shopping Lists</ion-title>
      <ion-searchbar placeholder="Enter list Title" *ngIf="search" fadein></ion-searchbar>
      <ion-icon slot="end" name="search" (click)="showSearch()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-label class="ion-padding title"> My Lists</ion-label>
  <ion-card *ngFor="let item of myList" class="ion-padding" color="primary" (click)="viewList(item)">
    <ion-card-title>
      <ion-label class="ion-float-left">Created : {{item.DueDate | date}} </ion-label>
      <ion-text class="ion-float-right"> By : <span *ngIf="item.createdBy !== myName">{{item.createdBy}}</span> <span
          *ngIf="item.createdBy == myName">You</span></ion-text> <br>
    </ion-card-title>
    <ion-card-content>
      <ion-label class="ion-padding" class="list-title">Title : {{item.Title}}</ion-label><br>
      <ion-text padding >{{item.Items.length}} Items</ion-text><br>
    </ion-card-content>
    <div style="margin-top: 10px;">
      <ion-label>Shared with :</ion-label><br>
      <ion-icon name="people"></ion-icon>&nbsp;&nbsp;
      <ion-text *ngFor="let item of item.members">{{item.firstName}}&nbsp;</ion-text>
    </div>
  </ion-card>
  <ion-label class="ion-padding title"> Shared Lists</ion-label>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="createList()">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>