.price{
    font-size: 1.1em;
    color: grey;
    padding-top: 20px;
    padding-left: 0px;
}
.icon{
    border:  1px solid grey;
    border-radius: 20px;
    text-align: center;
    padding-top: 15px;
}
.qty{
    // font-size: 0.8em;
    text-align: center;
    // padding-top: 10px;
    font-weight: bolder;
}