<ion-content>
  <ion-toolbar color="primary" padding>
    <ion-buttons>
      <ion-icon slot="start" name="arrow-back" (click)="back()"></ion-icon>
      <ion-title text-center>{{OrderID}}</ion-title>
    </ion-buttons>
  </ion-toolbar>
  <div class="body">
    <h4>Ordered to {{shop}} &nbsp;&nbsp;&nbsp;&nbsp; <ion-icon name="call" color="success" (click)="callShop()"></ion-icon></h4> 
    <ion-row  class="top" padding>
      <ion-col >
        Product
      </ion-col>
      <ion-col>
        Price
      </ion-col>
      <ion-col>
        Quantity
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of products" padding>
      <ion-col>
        {{item.product}}
      </ion-col>
      <ion-col>
        {{item.currentprice}}
      </ion-col>
      <ion-col>
        {{item.quantity}}
      </ion-col>
    </ion-row>
    <h4>Your Notes</h4>
    <ion-row padding>
      <p >
        {{notes}}
      </p>
      <p *ngIf="notes == ''">
        No notes
      </p>
    </ion-row>
    <div *ngIf="status !== 'canceled'">
    <ion-row>
      <ion-col>
      <h4 style="text-align: center;" color="primary">Payment Option</h4>
      <p ><strong *ngIf="Delivery === 'I will pick it'">
        Will pay on pick up.
      </strong>
      <strong *ngIf="Delivery === 'Deliver it to me'">
        Will pay on delivery.
      </strong>
      </p>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <h4 style="text-align: center;" color="primary">Delivery Options</h4>
      <p ><strong>
       Deliver it to {{Location}}
      </strong>
      </p>
    </ion-col>
    </ion-row>
  </div>
   <ion-item class="top">
      <ion-label slot="start" class="left">Total:</ion-label>
     <ion-label slot="end" class="right">Ksh:<span>{{getTotal()}}</span></ion-label>
   </ion-item>
  </div>
  <br><br>
  <div *ngIf="status === 'canceled'" class="ion-text-center">
    <ion-label   color="danger">You canceled this Order</ion-label>
  </div>
  
</ion-content>
<ion-footer *ngIf="status == 'Ready'||status == 'open'">
  <div class="ion-padding ion-text-center"><ion-label color="danger" *ngIf="status == 'Ready'">This Order is Ready.You can't cancel it</ion-label></div>
  <ion-row > 
    <ion-col >
      <ion-card color="warning" padding text-center (click)="confirm()" [disabled]="status == 'Ready'">
        <ion-label>Cancel Order</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-footer>