<ion-toolbar color="primary">
    <ion-buttons style="margin-left: 10px; margin-right: 10px;">
        <ion-icon name="arrow-back" (click)="back()"></ion-icon>
        <ion-title style="text-align: center;color: white;">Lifestyle</ion-title>
    </ion-buttons>
</ion-toolbar>

<ion-content>
    <div class="first-content">
        <p>
            Top lifestyle trends and content curated for your enjoyment.
        </p>
    </div>


    <div class="second-content">
        <div class="main-container">
            <div class="container1">
                <div class="title">
                    Trending Diets & Food
                </div>
                <br>
                <div class="video-content">
                    <ion-slides pager="true" [options]="AdvertslideOpts">
                        <ion-slide *ngFor="let item of diets">
                            <img style="width: 385px;height: 200px;" src="/assets/images/video2.png" *ngIf="item.thumbnail === undefined">
                            <img style="width: 385px;height: 200px;" src="{{item.thumbnail}}" *ngIf="item.thumbnail !== undefined">
                            <ion-row class="play-controller">
                                <ion-col (click)="openMyVideo(item.videoId)">
                                    <ion-icon name="play"></ion-icon>
                                </ion-col>
                            </ion-row>
                            <!-- <ion-row class="duration">
                                <ion-col>
                                    <div>10: 03</div>
                                </ion-col>
                            </ion-row> -->
                        </ion-slide>
                    </ion-slides>
                </div>
            </div>
            <div class="container2">
                <div class="title">
                    For exciting products, check these Kwik stores
                </div>
                <br>
                <div class="content">
                    <ion-slides pager="false" [options]="slideme">
                        <ion-slide *ngFor="let item of shops">
                            <ion-card style="width: 100px;height: 110px;background-color: white;"
                                *ngIf="item.stock !== 0" (click)="shopProfile(item)">
                                <img style="height: 50px;width: 100px;" src="{{item.logo}}">
                                <ion-card-content class="ion-padding">
                                    <ion-label style="font-size: 9px;color: black;">{{item.shop}}</ion-label><br>
                                </ion-card-content>
                            </ion-card>
                        </ion-slide>
                    </ion-slides>
                </div>
            </div>


            <!-- THIS WEEK'S PICKS FOR TOP FASHION BLOGS -->

            <div class="container3">
                <div class="title">
                    This week's picks for top Fashion Vlogs
                </div>
                <br>
                <div class="video-content">
                    <ion-slides pager="true" [options]="AdvertslideOpts">
                        <ion-slide *ngFor="let item of Fashion">
                            <img style="width: 385px;height: 200px;" src="/assets/images/video2.png" *ngIf="item.thumbnail === undefined">
                            <img style="width: 385px;height: 200px;" src="{{item.thumbnail}}" *ngIf="item.thumbnail !== undefined">
                            <ion-row class="play-controller">
                                <ion-col (click)="openMyVideo(item.videoId)">
                                    <ion-icon name="play"></ion-icon>
                                </ion-col>
                            </ion-row>
                            <!-- <ion-row class="duration">
                                <ion-col>
                                    <div>10: 03</div>
                                </ion-col>
                            </ion-row> -->
                        </ion-slide>
                    </ion-slides>
                </div>

            </div>

             <!-- THIS WEEK'S PICKS FOR TOP Fitness & Health -->

             <div class="container3">
                <div class="title">
                    This week's picks for top Fitness & Health
                </div>
                <br>
                <div class="video-content">
                    <ion-slides pager="true" [options]="AdvertslideOpts">
                        <ion-slide *ngFor="let item of fitness">
                            <img style="width: 385px;height: 200px;" src="/assets/images/video2.png" *ngIf="item.thumbnail === undefined">
                            <img style="width: 385px;height: 200px;" src="{{item.thumbnail}}" *ngIf="item.thumbnail !== undefined">
                            <ion-row class="play-controller">
                                <ion-col (click)="openMyVideo(item.videoId)">
                                    <ion-icon name="play"></ion-icon>
                                </ion-col>
                            </ion-row>
                            <!-- <ion-row class="duration">
                                <ion-col>
                                    <div>10: 03</div>
                                </ion-col>
                            </ion-row> -->
                        </ion-slide>
                    </ion-slides>
                </div>

            </div>

            <!-- THIS WEEK'S PICKS FOR TOP Book Reviews -->

            <div class="container3">
                <div class="title">
                    This week's picks for top Book Reviews
                </div>
                <br>
                <div class="video-content">
                    <ion-slides pager="true" [options]="AdvertslideOpts">
                        <ion-slide *ngFor="let item of books">
                            <img style="width: 385px;height: 200px;" src="/assets/images/video2.png" *ngIf="item.thumbnail === undefined">
                            <img style="width: 385px;height: 200px;" src="{{item.thumbnail}}" *ngIf="item.thumbnail !== undefined">
                            <ion-row class="play-controller">
                                <ion-col (click)="openMyVideo(item.videoId)">
                                    <ion-icon name="play"></ion-icon>
                                </ion-col>
                            </ion-row>
                            <!-- <ion-row class="duration">
                                <ion-col>
                                    <div>10: 03</div>
                                </ion-col>
                            </ion-row> -->
                        </ion-slide>
                    </ion-slides>
                </div>

            </div>

            <!-- HAIR AND BEAUTY -->
            <div class="container3">
                <div class="title">
                    This week's picks for top Hair & Beauty
                </div>
                <br>
                <div class="video-content">
                    <ion-slides pager="true" [options]="AdvertslideOpts">
                        <ion-slide *ngFor="let item of hair">
                            <img style="width: 385px;height: 200px;" src="/assets/images/video2.png" *ngIf="item.thumbnail === undefined">
                            <img style="width: 385px;height: 200px;" src="{{item.thumbnail}}" *ngIf="item.thumbnail !== undefined">
                            <ion-row class="play-controller">
                                <ion-col (click)="openMyVideo(item.videoId)">
                                    <ion-icon name="play"></ion-icon>
                                </ion-col>
                            </ion-row>
                            <!-- <ion-row class="duration">
                                <ion-col>
                                    <div>10: 03</div>
                                </ion-col>
                            </ion-row> -->
                        </ion-slide>
                    </ion-slides>
                </div>

            </div>

        </div>

    </div>

</ion-content>