<ion-tabs>

  <ion-tab-bar slot="bottom" [hidden]="service.hiddenTabs" class="tabbar">
    <ion-tab-button tab="tab1" class="tab ">
      <ion-icon src="../../assets/home.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="tab">
      <ion-icon src="../../assets/shop.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="transactions" class="tab">
      <ion-icon src="../../assets/bill.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notifications" class="tab">
      <ion-icon name="notifications"></ion-icon>
      <ion-badge color="danger" style="margin-top: 3px;" *ngIf="count !== '0'">
        <div *ngIf="count != '0'">{{count}}</div>
      </ion-badge>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>