<ion-toolbar color="primary" class="ion-padding">
  <ion-buttons>
    <ion-icon name="arrow-back" (click)="back()"></ion-icon>
    <ion-title style="text-align: center;color: white;">Select Restaurant</ion-title>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <div style="text-align: center;">
    <ion-searchbar animated placeholder="Search Restaurant or Recipes" mode="ios"></ion-searchbar>
  </div>
  <div>
    <ion-slides pager="true" [options]="AdvertslideOpts">
      <ion-slide *ngFor="let item of Ads">
        <img class="soko-image" src="{{item.image}}">
      </ion-slide>
      <!-- <ion-slide>
        <img class="soko-image" src="../../../assets/images/foodad.jpg">
      </ion-slide> -->
    </ion-slides>
  </div>
  <div>
    <div class="label">
      <ion-label class="left">Your Top Picks</ion-label>
      <!-- <div class="right">
        View all
        <ion-icon src="/assets/images/arrow-right.svg"></ion-icon>
      </div> -->
    </div><br>
    <ion-slides pager="false" [options]="slideme" *ngIf="products.length === 0">
      <ion-slide *ngFor="let item of skeleton">
        <ion-card style="width: 150px;height: 150px;">
          <ion-skeleton-text animated style="width: 100%;height: 100px;border-radius: 0px;"></ion-skeleton-text>
          <ion-card-content>
            <ion-skeleton-text animated class="pr-name"></ion-skeleton-text><br>
            <ion-skeleton-text animated class="pr-price"></ion-skeleton-text>
          </ion-card-content>
          <div class="prTag">
            <ion-skeleton-text animated></ion-skeleton-text>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <ion-slides pager="false" [options]="slideme">
      <ion-slide *ngFor="let item of products " (click)="seeDetails(item)" >
        <ion-card style="width: 150px;height: 150px;">
          <!-- <img src="{{shop.logo}}" style="height: 100px; width: 150px;"> -->
          <ion-card-content style="text-align: left;padding-top: 20px;">
           <h5 class="pr-name" style="text-transform: uppercase">{{item.Meal}} </h5><br>
           <ion-label style="position:fixed;bottom: 20px;color: grey;">Kshs.{{item.currentprice}}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <div>
    <div class="label">
      <ion-label class="left">Buy recipes</ion-label>
      <div class="right" (click)="gotoRecipes()">
        View all
        <ion-icon src="/assets/images/arrow-right.svg"></ion-icon>
      </div>
    </div><br>
    <ion-slides pager="false" [options]="slideme" *ngIf="recipe === undefined">
      <ion-slide *ngFor="let item of skeleton ">
        <ion-card style="width: 150px;height: 150px;">
          <ion-skeleton-text animated style="height: 100px; width: 150px;"></ion-skeleton-text>
          <ion-card-content>
            <ion-skeleton-text animated class="pr-name"></ion-skeleton-text><br>
            <ion-skeleton-text animated class="pr-price"></ion-skeleton-text>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <ion-slides pager="false" [options]="slideme">
      <ion-slide *ngFor="let shop of recipe " (click)="viewRecipeShop(shop)" >
        <ion-card style="width: 150px;height: 150px;">
          <img src="{{shop.logo}}" style="height: 100px; width: 150px;">
          <ion-card-content style="text-align: left;">
           <h5 class="pr-name" style="text-transform: uppercase">{{shop.shop}} </h5>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <div>
    <div class="label">
      <ion-label class="left">All restaurants</ion-label>
      <div class="right">
        View all
        <ion-icon src="/assets/images/arrow-right.svg"></ion-icon>
      </div>
    </div><br>
    <ion-slides pager="false" [options]="slideme" *ngIf="Restaurants === undefined">
      <ion-slide *ngFor="let item of skeleton ">
        <ion-card style="width: 150px;height: 150px;">
          <ion-skeleton-text animated style="width: 100%;height: 150px;border-radius: 0px;"></ion-skeleton-text>
          <ion-card-content>
            <ion-skeleton-text animated class="pr-name"></ion-skeleton-text><br>
            <ion-skeleton-text animated class="pr-price"></ion-skeleton-text>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <ion-slides pager="false" [options]="slideme">
      <ion-slide *ngFor="let shop of Restaurants " (click)="goToRest(shop)">
        <ion-card style="width: 150px;height: 150px;">
          <img src="{{shop.logo}}" style="height: 100px; width: 150px;">
          <ion-card-content style="text-align: left;">
           <h5 class="pr-name" style="text-transform: uppercase">{{shop.Restaurant}} </h5>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>