.form-control {
    margin-bottom: 5%;
}

.labels {
     text-align: left !important;
}

.inputs {
    padding: 3%;
    height: 35px;
    box-shadow: 0px;
    border: thin solid var(--ion-color-primary);;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    color: var(--ion-color-primary);
}

.btn {
    margin: 10% auto !important;
    width: 100%;
}