<ion-header style="background-color: #3880ff">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-round-back"></ion-icon>

      </ion-button>
    </ion-buttons>

    <ion-title class="shopname">{{shopSelected}}</ion-title>

  </ion-toolbar>

</ion-header>
<ion-content>

  <!-- Shows when the order is sent -->
  <ion-card padding class="successful" *ngIf="Ordersuccess">
    <ion-card-header>
      <ion-icon color="primary" name="checkmark-circle-outline" size="large"></ion-icon>&nbsp;&nbsp;<br>
      <ion-label style="color: green;"><b>Order Sent Successful</b></ion-label>
    </ion-card-header>
    <ion-card-content>
      <br><br>
      <ion-text>You can follow the progress of your order in My Orders page.</ion-text><br>
      <ion-button expand="full" (click)="myorders()" fill="clear">My Orders</ion-button>
      <br><br>
    </ion-card-content>

  </ion-card>
  <!-- Shows when the cart is empty -->
  <div *ngIf="cart.length == 0" class="empty">
    <ion-label>Your cart is Empty</ion-label><br><br><br>
    <ion-button (click)="back()" shape="round">Continue shopping</ion-button>
  </div>
  <!-- Shows items in the cart and there total  -->
  <div *ngIf="!Ordersuccess">
    <ion-item *ngFor="let item of cart">
      <ion-col size="3">
        <img class="img" src="{{item.image}}">
      </ion-col>
      <ion-col class="details" size="6">
        <ion-label style="color:red;text-transform:capitalize;" (click)="remove(item)">Remove</ion-label>
        <br>
        <ion-label>{{item.product}} &nbsp; {{item.quantity}}</ion-label><br>
        <ion-label>Kshs. <b>{{item.currentprice}}</b></ion-label>
      </ion-col>
      <ion-col style="text-align: left;">
        <ion-card style="border-radius: 20px;width: 100%;">
          <ion-row>
            <ion-col>
              <ion-icon name="remove" (click)="reduce(item)"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-label><b>{{item.count}} </b></ion-label>
            </ion-col>
            <ion-col>
              <ion-icon name="add" (click)="add(item)" color="dark"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-item>
  </div>
  <!-- Pick up time section-->
  <div *ngIf="cart.length != 0;">
    <form #time=ngForm padding>
      <ion-label color="primary" style="font-size: large;" *ngIf="!noPickUpTime">Choose a Pickup Time</ion-label>
      <ion-row *ngIf="!noPickUpTime">
        <ion-col>
          <ion-select name="pickTime" [(ngModel)]="pickHour" Placeholder="Hour" required style="width: 100%;">
            <ion-select-option *ngFor="let time of hour">{{time}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-select name="pickTime" [(ngModel)]="pickMinute" Placeholder="Mins" required>
            <ion-select-option *ngFor="let time of minute">{{time}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-select name="pickTime" [(ngModel)]="pickDay" Placeholder="Day" required>
            <ion-select-option *ngFor="let time of Days">{{time}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-label color="primary">Notes</ion-label><br><br>
        <ion-textarea name="notes" [(ngModel)]="notes" placeholder="Add notes for this order eg. Ripe, packed etc">
        </ion-textarea>
      </ion-row>
      <ion-row>
        <ion-label color="primary">Delivery Option</ion-label><br><br><br><br>
        <ion-select name="delivery" placeholder="select delivery" [(ngModel)]="delivery"
          (ionChange)="noDeliveryFee(delivery)">
          <ion-select-option>Deliver it to me</ion-select-option>
          <ion-select-option selected>I will pick it</ion-select-option>
        </ion-select><br>
      </ion-row>
      <ion-row>
        <div *ngIf="delivery == 'Deliver it to me'" style="width: 100%;">
          <ion-label color="primary">Pick a delivery location near you</ion-label>
          <ion-select name="area" placeholder="select a delivery location near you" [(ngModel)]="selectedarea"
            (ionChange)="getDeliveryFee(selectedarea)">
            <ion-select-option *ngFor="let item of areas">{{item.Area}}</ion-select-option>
          </ion-select><br>
          <ion-label>Delivery fee : <span style="float: right;">Kshs {{deliveryFee}}</span></ion-label>
        </div>
      </ion-row>
    </form>
    <!-- Payment section -->
    <!-- <div *ngIf="delivery == 'I will pick it'">
      <ion-label color="primary" padding>Payment method</ion-label>
      <ion-row style="width: 100%;background-color: var(--ion-color-light);" >
        <ion-col style="padding-top: 30px">
          <ion-label color="success" >M-Pesa</ion-label>
        </ion-col>
        <ion-col style="padding-top: 30px;">
          <ion-label >{{Number}}</ion-label><br>
          <ion-text color="primary" (click)="changeNumber()">change</ion-text>
        </ion-col>
        <ion-col>
          <ion-card  style="border-radius: 150x;background-color: var(--ion-color-warning);">
            <ion-card-content  style="text-align: center;">
              <strong (click)="payForOrder()">Pay</strong>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div> -->
  </div>


</ion-content>
<ion-footer *ngIf="cart.length != 0;">
  <div color="medium" *ngIf="delivery == 'Deliver it to me'" style="text-align: center;">You will be charged on delivery
  </div>
  <ion-toolbar color="primary" style="height: 40px;border-radius: 5px;">
    <ion-buttons slot="start" style="padding-bottom: 15px;">Total : </ion-buttons>
    <ion-buttons class="price-slot" slot="end" style="padding-bottom: 15px;">
      KES &nbsp;<span style="font-size: medium;font-weight: bolder;"> {{getTotalCart() | number:'1.1-5'   }} </span>
    </ion-buttons>
  </ion-toolbar>
  <ion-button expand="full" shape="round" style="height: 40px;border-radius: 5px;" (click)="sendOrder()"
    [disabled]="paid === true">
    Place Order
  </ion-button>
</ion-footer>