.active{
    background-color: #3880ff
  }
.alert{
  background-color: var(--ion-colo-primary);
  border-radius: 15px;
  height: 50%;
  text-align: center;
  header{
    font-weight: bold;
  }
  margin: auto;
}