  <ion-header style="background-color: #3880ff;">
  <ion-toolbar color="primary" >
    <ion-buttons (click)="close()" slot="start">
      <ion-icon name="arrow-back" ></ion-icon>
    </ion-buttons>
    <!-- <ion-buttons slot="start" text-center>
      <ion-chip>
        <!-- <ion-avatar ><img src="../../assets/images/bg.png"></ion-avatar> 
        <div>
          <ion-label>{{recepient.firstName}}</ion-label>
          <br>
          <ion-label>{{recepient.phone}}</ion-label>
        </div>
        
        </ion-chip><br>
        <!-- <ion-label><b style="color: green;font-size: 2em;">.</b>online</ion-label> 
      
    </ion-buttons> -->
    <ion-chip >
      <img  style="border-radius: 100%;" [src]="AvatarImage(recepient.firstName.charAt(0),30)" alt="img">
      <ion-title >
        {{recepient.firstName}}<br>
        {{recepient.phone}}
    </ion-title>
    </ion-chip>
  </ion-toolbar>
  </ion-header>
<ion-content [scrollEvents]="true">
  
  <div class="chat" *ngFor="let chat of chats">
    <div class="you" *ngIf="uid == chat.sender">
      {{chat.text}}
      <br>
      <span class="name">
        {{chat.Date.toDate() | dateAgo}}
      </span>
    </div>
  
    <div class="me" *ngIf="uid != chat.sender">
      {{chat.text}}
      <br>
      <span class="name">
        {{chat.Date.toDate() | dateAgo}}
      </span>
    </div>
  </div>

  
</ion-content>
<ion-footer style="background-color: white;">
  <ion-item style="background-color: white;">
    <ion-textarea type="text" [(ngModel)]="inputText" placeholder="Enter message"></ion-textarea>
    <ion-button (click)="send()"  icon-only slot="end"><ion-icon name="send" ></ion-icon></ion-button>
  </ion-item>
</ion-footer>
