.skeleton{
    
    width: 100%;
    padding: 10px 10px 10px 10px;
  }
  
  ion-content {
    -webkit-transition: all;
    transition: all;
  }
  ion-grid {
    padding: auto;
    ion-col{
      border-radius: 25px;
    }
  }
  ion-skeleton-text{
    width: 100%;
    height: 100%;
    border-radius: 25px;
     
  }
  .partion {
    width: 100%;
    height: 150px;
    border: thin solid #92bcf3;
    text-align: center;
    border-radius: 25px;
  }
  .tags{
      padding-top: 10px;
      padding-bottom: 10px;
      color: var(--ion-color-primary);
  }
  .shop-img {
    width: 65%;
    height: 65%;
    margin: 5% auto;
    object-fit: contain;
    object-position: center;
  }
  
  .shops-title {
      font-weight: bold;
      color: #666666;
      font-size: 13px;
      margin-top: -3%;
  }
 