<ion-header style="background-color: #3880ff;">
  <ion-toolbar color="primary">
    <ion-buttons (click)="close()" slot="start">
      <ion-icon name="arrow-back" mode="ios" size="large"></ion-icon>
    </ion-buttons>
    <ion-title *ngIf="!Msgrecepient">
      New Chat
    </ion-title>
    <ion-chip *ngIf="Msgrecepient">
      <img  style="border-radius: 100%;" [src]="AvatarImage(sendTo.charAt(0),30)" alt="img">
      <ion-title >
        {{sendTo}}<br>
        {{recepient}}
    </ion-title>
    </ion-chip>
    
    <ion-buttons slot="end" *ngIf="!Msgrecepient">
      <ion-icon style="margin-top: 5px;margin-right: 5px;" (click)="pickContact()" name="contact" size="large">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="!Msgrecepient">
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()" placeholder="Search phone number or name">
    </ion-searchbar>

    <ion-list>
      <div *ngFor="let item of items" (click)="createChat(item)">
        <ion-item *ngIf="item.phone !== myNumber">
          <ion-col size="2"> <ion-avatar><img  style="border-radius: 100%;" [src]="AvatarImage(item.firstName.charAt(0))" alt="img"></ion-avatar></ion-col>
          <ion-col class="ion-padding">
            {{item.firstName}}<br>
            {{ item.phone }}
          </ion-col>
        </ion-item>
      </div>
      
    </ion-list>
    <div *ngIf="notfound" text-center style="padding-top: 20px;">
      <ion-icon name="search"></ion-icon>
      <ion-label>Contact not found</ion-label>

    </div>
  </div>
  <div *ngIf="Msgrecepient">
    <div class="chat">
      <div *ngFor="let item of mychat ">
        <div class="you">
          {{item.text}} <br>
          <span style="float: bottom-right;font-size: small;">
            {{item.Date * 1000 | date: 'h:mm a'}}
          </span>
        </div>
      </div>
      <div *ngFor="let chat of chats">
        <div class="me">
          {{chat.text}} <br>
          <span style="float: bottom-right;font-size: small;"> {{chat.Date.toDate() | date: 'h:mm a'}}</span>
        </div>
      </div>
    </div>

  </div>
</ion-content>
<ion-footer style="background-color: white;" *ngIf="Msgrecepient">
  <ion-item style="background-color: white;">
    <ion-textarea type="text" [(ngModel)]="text" placeholder="Enter message"></ion-textarea>
    <ion-button (click)="sendMessage()" icon-only slot="end">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>