// ION HEADER
ion-header {
    ion-title {
        text-align: center;
    }
}
.notification {
    width: 20px; height: 20px;
}

// FIRST CARD
.first-card {
    ion-select {
        // color: #737373;
        float: left; 
        left: 0px; 
        margin-left: -10px;
        ion-select-option {
            font-size: 14px;
        }
    }
    span {
        font-size: 14px; 
        font-weight: bold; 
        color: var(--ion-color-primary);
    }
}

// SECOND CARD 
.second-card {
    .display-icon {
        float: right;
        right: 0px;
        width: 15px; 
        height: 15px;
    }
    .personal-info-content {
        padding-top: 10px; 
        padding-left: 20px;
    }
}

// THIRD CARD
.third-card {
    .content {
        padding-left: 20px;
        ion-row {
            padding-top: 10px;
            .content-text {
                font-size: 15px; 
                color: #737373;
            }
            ion-toggle {
                margin-top: -10px;
                float: right;
                right: 0px;
            }
        }
    }
}


.form-control {
    margin-bottom: 5%;
}

.labels {
     text-align: left !important;
}



.inputs {
    padding: 3%;
    height: 35px;
    box-shadow: 0px;
    border: thin solid #e3e3e3;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    color: #2979ff;
}

.btn {
    margin: 10% auto !important;
    width: 100%;
}
.customer{
    width:50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #ffffff;
    // background: #ffffff;
    // background: url('/assets/images/profile.png');
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.points{
    color: var(--ion-color-primary);
}

h3 {
    color: var(--ion-color-primary); 
    font-size: 15px;
}