ion-header {
    ion-title {
        text-align: center;
    }
}

.tab{
    color: var(--ion-color-primary);
    font-size: medium;
    font-weight: bold;
}
.card{
    border-radius: 10px;
    background-color: #00ade526;
}
.top {
    margin-top: 10px;
}
.card-ready{
    background-color: #b6e5f585;
}
ion-card{
    border-radius: 10px;
}
