
<ion-content>
    <!-- FIRST CONTENT -->
    <div class="first-content">
        <img src="/assets/images/sign-up.png">
    </div>

    <!-- SECOND CONTENT -->
    <div class="second-content">
        <div class="logo">
            <img src="/assets/images/new-logo.png">
        </div>

        <!-- CONTENT -->
        <div class="content">
            
            <form>
                <ion-row>
                    <ion-col size="12">
                        <ion-list>
                            <ion-item class="item-border">
                                <ion-label color="primary">
                                    <ion-icon color="primary" name="person" slot="start" size="small"></ion-icon>
                                </ion-label>
                                <ion-input clearInput name="first_name" required type="text" placeholder="First Name" class="input-border-zero"></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="12">
                        <ion-list>
                            <ion-item class="item-border">
                                <ion-label color="primary">
                                    <ion-icon color="primary" name="person" slot="start" size="small"></ion-icon>
                                </ion-label>
                                <ion-input clearInput name="last_name" required type="text" placeholder="Last Name" class="input-border-zero"></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="12">
                        <ion-list>
                            <ion-item class="item-border">
                                <ion-label color="primary">
                                    <ion-icon color="primary" name="mail" slot="start" size="small"></ion-icon>
                                </ion-label>
                                <ion-input clearInput name="email" required type="text" placeholder="Email" class="input-border-zero"></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>

                <ion-row class="phone-validation">
                    <ion-col size="3">
                        <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="(+254)">
                            <ion-select-option value="red">(+254)</ion-select-option>
                            <ion-select-option value="purple">(+255)</ion-select-option>
                            <ion-select-option value="yellow">(+256)</ion-select-option>
                        </ion-select>
                    </ion-col>
                    <ion-col size="9" class="phone-col">
                        <ion-item class="phone-item">
                            <ion-input type="tel" class="phone-input" clearInput name="phone_number" placeholder="700-000-000"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <!-- <ion-row>
                    <ion-col size="12">
                        <ion-list>
                            <ion-item class="item-border">
                                <ion-label color="primary">
                                    <ion-icon color="primary" name="key" slot="start" size="small"></ion-icon>
                                </ion-label>
                                <ion-input clearInput name="password" required type="text" placeholder="Password" class="input-border-zero"></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row> -->

                <ion-row class="sign-up-button">
                    <ion-col size="12">
                        <ion-list class="submit-button">
                            <div class="form-group">
                                <ion-buttons>
                                    <ion-button class="ion-text-center"  (click)="register()"><b>SIGN UP</b> 
                                    </ion-button>
                                </ion-buttons>
                                <div class="ion-text-center have-account">
                                    Already have an account? 
                                    <b (click)="back()" style="text-align: center; color: #00ade5;">Login</b>
                                </div>  
                            </div>
                        </ion-list>
                    </ion-col>
                </ion-row>

            </form>
        </div>
        
    </div>

  
</ion-content>
