ion-avatar{
    width: 30px;
    height: 30px;
}
blockquote{
    text-transform: capitalize;
}
.unread{
    background-color: #80808021;
}
.icon{
    width: 100px;
    height: 100px;
    margin: auto;
    img{
        object-position: center;
        object-fit: contain;
    }
}
