<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" (click)="back()">
            <ion-icon name="arrow-back" size="small" style="width: 20px; height: 20px; margin-left: 5px;"></ion-icon>
        </ion-buttons>
        <ion-title style="text-align: center;">Notifications</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <div style="text-align: center; margin-top: 40%;" *ngIf="notifications.length == 0">
        <div class="icon">
        <img src="../../assets/alarm.svg">
    </div>
    <br><br><br>
        <ion-label >You have no notifications</ion-label>
    </div>
    <div>
        <ion-card *ngFor="let item of notifications" (click)="viewOrder(item.title,item.id,item.status)" [ngClass]="{'unread': item.status == 'unread'}">
        <ion-row padding>
            <ion-col size="3" >
            <ion-avatar>
                <img src="../../assets/images/icon.png">
            </ion-avatar>
            </ion-col>
            <ion-col style="text-align: left;padding-top: 20px;">
            <ion-label>{{item.title}}</ion-label><br>
            <ion-label>{{ item.Date.toDate() | date }}</ion-label>
            </ion-col>
        </ion-row>
        <ion-card-content>
            <p>
            Hello {{Name}} your order is Ready for pick up. <br>
            You ordered for : 
            </p>
            <blockquote>
            <span *ngFor="let n of item.message">{{n}}&nbsp;,</span>
            </blockquote>
            
        </ion-card-content>
        </ion-card>
    </div>
    <!-- <div class="ion-text-center" style="margin-top: 200px;">
        <ion-icon size="large" name="flash"></ion-icon><br>
        <ion-label>You have no Notifications</ion-label>
    </div> -->
</ion-content>