// ION HEADER
ion-header {
    .go-back {
        padding-left: 10px;
    }
    ion-title {
        text-align: center;
    }
}

ion-avatar{
    width: 30px;
    height: 30px;
}
blockquote{
    text-transform: capitalize;
}
.unread{
    background-color: #80808021;
}

// NO NOTIFICATION
.no-notification {
    text-align: center; 
    margin-top: 60%;
    .icon{
        margin-bottom: 10px; 
        img{
            width: 30px; 
            height: 30px;
            object-position: center;
            object-fit: contain;
        }
    }
    ion-label {
        color: #737373; 
        font-size: 14px;
    }
}

