<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons style="margin-left: 10px; margin-right: 10px">
            <ion-icon style="width: 20px; height: 20px;" slot="start" (click)="back()" name="arrow-back"></ion-icon>
            <ion-title text-center>Shopping Lists</ion-title>
          
        </ion-buttons>
    </ion-toolbar>
</ion-header>





<ion-content color="">
    
    <!-- SEARCH BAR -->
    <div>
        <ion-searchbar animated mode="ios" placeholder="search list"></ion-searchbar>
    </div>

    <!-- MY LISTS -->
    <div style="font-size: 15px; font-weight: bold; text-align: center; color: var(--ion-color-primary);"> My Lists</div>

    <ion-card style="margin-left: 15px; margin-right: 14px;" color="" *ngFor="let item of myList" class="ion-padding" (click)="viewList(item)">
        <ion-card-title>
            <div style="font-size: 15px; font-weight: bold; color: var(--ion-color-primary);" class="ion-float-left">{{item.Title}}: {{item.Items.length}} Items</div>
        </ion-card-title>
        <ion-card-content style="margin-left: -15px; margin-top: -7px;  margin-bottom: -15px;">
            <div>
                <ion-icon style="width: 20px; height: 20px; color: #737373;" name="people"></ion-icon>&nbsp;&nbsp;
                <ion-text style="font-size: 13px;" *ngFor="let item of item.members">{{item.firstName}}&nbsp;  </ion-text>
            </div>
            <div style="font-size: 11px;">Created : {{item.DueDate | date}}</div>
        </ion-card-content>
    </ion-card>

    <div style="text-align: center; margin-top: 15px;" *ngIf="!zeroList">
        <div>
            <img src="../../assets/list.svg" style="width: 50px; height: 50px;">
        </div>
        <div style="font-size: 13px; color: #737373; text-align: center; margin-top: 0px;">You have not created any lists</div>
    </div>
    <br><br><br>

    <!-- SHARED LISTS -->
    <div style="font-size: 15px; font-weight: bold; text-align: center; color: var(--ion-color-primary);"> Shared Lists</div>
    <ion-card style="margin-left: 15px; margin-right: 14px;" color="" *ngFor="let item of sharedList" class="ion-padding" (click)="viewList(item)">
        <ion-card-title>
            <div style="font-size: 15px; font-weight: bold; color: var(--ion-color-primary);" class="ion-float-left">{{item.Title}}: {{item.Items.length}} Items</div>
        </ion-card-title>
        <ion-card-content style="margin-left: -15px; margin-top: -7px;  margin-bottom: -15px;">
            <div>
                <ion-icon style="width: 20px; height: 20px; color: #737373;" name="people"></ion-icon>&nbsp;&nbsp;
                <ion-text style="font-size: 13px;" *ngFor="let item of item.members">{{item.firstName}}&nbsp;  </ion-text>
            </div>
            <div style="font-size: 11px;">Created : {{item.DueDate | date}}</div>
        </ion-card-content>
    </ion-card>
    <div style="text-align: center; margin-top: 5px;" *ngIf="!zeroList"><br>
        <div>
            <img src="../../assets/share.svg" style="width: 50px; height: 50px;">
        </div>
        <div style="font-size: 13px; color: #737373; text-align: center; margin-top: 0px;">You have no shared lists</div>
    </div>
   <br><br>
    <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="createList()">
        <ion-fab-button size="small" color="primary">
        <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab> -->
    <div style="text-align: center;">
    <ion-button  (click)="createList()">Create New List</ion-button>
    </div>
    </ion-content>