
// .list-title {
//     font-size: 1.4em;
//     font-weight: bold;
//     text-transform: capitalize;
// }
.date{
    padding-top: 80px;
}
.title{
    font-weight: bold;
    color: var(--ion-color-primary);
    font-size: 1.5em;
}
// .icon{
//     width: 80px;
//     height: 80px;
//     margin: auto;
//     img{
//         object-position: center;
//         object-fit: contain;
//     }
// }
ion-title{
    font-size: .9rem;
}
// #list-title{
//     font-size: .9rem;
// }

#cool-button-div {

    position: center;
    width:200px;
    margin:auto;
    margin-top:50vh;

}